<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Home</h1>
        <h2>Bienvenido a tu tienda online porfavor registrate o ingresa con tu cuenta para ver todos nuestros productos</h2>
        <h5><a href="/register">Registrate aqui!</a></h5>
        <h5><a href="/login">Inicia sesion</a></h5>
       {{!--  {{> register}} --}}
    </div>
    

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script>
</body>
</html> 
 
 
 
 