<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    
    <div>
        <h1>Perfil de Administrador</h1>
        <h3>Bienvenido</h3>
        <p>Nombre: {{nombre}} {{apellido}}</p>
        <p>Email: {{email}}</p>
        <p>Rol: {{rol}}</p>
        <h4><a href="/allproducts">Ver todos los productos</a></h4>
        <h4><a href="/logout">Cerrar sesion</a></h4>
    </div>
</body>
</html>